<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.post_id %></td>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', "/posts/#{@post.id}/comments/#{comment.id}" %></td> <!-- comment -->
        <td><%= link_to 'Edit', "/posts/#{@post.id}/comments/#{comment.id}/edit" %></td> <!-- edit_comment_path(comment) -->
        <td><%= link_to 'Destroy', "/posts/#{@post.id}/comments/#{comment.id}/destroy" %></td> <!-- #comment, method: :delete, data: { confirm: 'Are you sure?' } -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', '/#' %> <!-- new_comment_path -->
